receivers:
  kafka:
    brokers: ["${env:KAFKA_BOOTSTRAP_SERVERS}"]
    logs:
      topics: ["${env:KAFKA_TOPIC}"]
      encoding: json
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s
    send_batch_size: 1024

exporters:
  clickhouse:
    endpoint: "tcp://${env:CLICKHOUSE_HOST}:${env:CLICKHOUSE_PORT}?dial_timeout=10s"
    database: "${env:CLICKHOUSE_DATABASE}"
    username: "${env:CLICKHOUSE_USER}"
    password: "${env:CLICKHOUSE_PASSWORD}"
    create_schema: true
    logs_table_name: otel_logs
    traces_table_name: otel_traces
    timeout: 5s
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s
  debug:
    verbosity: normal

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, clickhouse]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, clickhouse]
    logs:
      receivers: [otlp, kafka]
      processors: [batch]
      exporters: [debug, clickhouse]
  telemetry:
    logs:
      level: info
