apiVersion: 1

deleteDatasources:
  - name: ClickHouse
    orgId: 1

datasources:
  - name: ClickHouse
    uid: clickhouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    editable: false
    jsonData:
      defaultDatabase: ${CLICKHOUSE_DATABASE}
      server: ${CLICKHOUSE_HOST}
      port: ${CLICKHOUSE_PORT}
      protocol: native
      username: ${CLICKHOUSE_USER}
    secureJsonData:
      password: ${CLICKHOUSE_PASSWORD}
